:root {
    --gold: #c9a84c;
    --gold-dark: #a07830;
}

/* font */
head {
    font-family: 'Monoton', sans-serif;
     
}

header {
    border-bottom: 1px solid #333;
    color: #f9b804;
}

header .site-logo {
    color: #c9a84c;
}


body {
    font-family: 'Monoton', sans-serif;
    background-color: black;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

/* rubrik */

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: var(--gold);
    letter-spacing: 0.05;
}

/* huvudsektion/hero */

.hero {
    background: #111111;
    border-bottom: 1px solid #333;
}

.hero-brand {
    font-family: 'Playfair Display', serif;
    font-size: clamp(3rem,8vw, 5.5rem);
    color: var(--gold);
    letter-spacing: 0.05;
    line-height: 1.1;
}

.hero-tagline {
    font-size: 1rem;
    color: #cccccc;
    letter-spacing: 0.10;
    text-transform: uppercase;
    font-weight: 600;
}


.roboto-logo {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn.btn-primary{
    background-color: var(--gold);
    color: black;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn.btn-primary:hover {
    background-color: var(--gold-dark);
}
body .card {
    background-color: #111111;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 1rem;
    color: #cccccc;
}


body.product-view {
    background-color: #111111;
    border: 1px solid #514706;
    border-radius: 8px;
    padding: 1rem;
    color: var(--gold);
}
.card-text.text-danger {
    color: var(--gold);
}
.card-text{
    color: var(--gold);
}

.card-title {
    color: var(--gold);
}
.card{
    background-color: #111111;
    border: 1px solid var(--gold);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.panel .panel-title{
    color: var(--gold);
}


.panel .loading {
    color: var(--gold);
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}

