:root {
    --gold: #c9a84c;
    --gold-dark: #a07830;
}

/* font */
head {
    font-family: 'Monoton', sans-serif;
     
}

header {
    border-bottom: 1px solid #333;
    color: #f9b804;
}

header .site-logo {
    color: #c9a84c;
}


body {
    font-family: 'Monoton', sans-serif;
    background-color: black;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

/* rubrik */

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: var(--gold);
    letter-spacing: 0.05;
}

/* huvudsektion/hero */

.hero {
    background: #111111;
    border-bottom: 1px solid #333;
}

.hero-brand {
    font-family: 'Playfair Display', serif;
    font-size: clamp(3rem,8vw, 5.5rem);
    color: var(--gold);
    letter-spacing: 0.05;
    line-height: 1.1;
}

.hero-tagline {
    font-size: 1rem;
    color: #cccccc;
    letter-spacing: 0.10;
    text-transform: uppercase;
    font-weight: 600;
}


.roboto-logo {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}